*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-body);
  font-family: var(--font);
  font-size: var(--p);
}

main {
  min-height: calc(100vh - 12rem);
  width: 100%;
  max-width: var(--max-width-content);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 var(--gap-double);
  section {
    margin: var(--gap-double) 0;
    &:first-of-type {
      margin: 0 0 var(--gap-double);
    }
  }
}

hr {
  width: 100%;
  opacity: 0.6;
  margin-top: var(--gap-double);
  margin-bottom: var(--gap-double);
  border: 0;
  border-bottom: 0.01rem var(--color-button) solid;
}
