@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  min-width: 320px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  background: var(--color-background);
  color: var(--color-text);
}

.light-mode {
  --color-text: #1c1c1c;
  --color-background: #fff;
  --color-header: #1a202c;
  --color-button: #e2e8f0;
  --color-button-secondary: #edf2f7;
  --color-muted: #666;
}
.dark-mode {
  --color-text: #fff;
  --color-header: #fff;
  --color-background: #171923;
  --color-button: rgb(255, 255, 255, 0.16);
  --color-button-secondary: rgba(255, 255, 255, 0.08);
  --color-muted: #888;
}

:root {
  /*================ color ================*/
  --color-black: #1c1c1c;
  --color-secondary: #595959;
  --color-black-rgb: 28, 28, 28;
  --color-grey: #f0e8e7;
  --color-white: #fff;
  --color-red: #ff5a5f;
  --color-green: #41af4b;
  --color-blue: #2ec4b6;
  --color-yellow: #fb0;

  /*================ typography ================*/
  --font: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, sans-serif;
  --h1: 6.4rem;
  --h2: 4.8rem;
  --h3: 3.6rem;
  --h4: 2.4rem;
  --h5: 2rem;
  --h6: 1.6rem;
  --p: 1.6rem;
  --small: 1.4rem;

  /*================ Borders/Shadows ================*/
  --round-border-radius: 45% 52.5% 42.5% 42.5%;
  /*================ spacing ================*/
  --max-width: 96rem;
  --max-width-content: 70rem;
  --gap-tiny: 0.4rem;
  --gap-small: 0.8rem;
  --gap: 1.6rem;
  --gap-double: 3.2rem;

  --header-height: 12.8rem;

  /*================ Z-Index ================*/

  --z-header: 1000;

  /*================ Transition / effects ================*/
  --fast-transition: 0.1s ease-out;
  --med-transition: 0.2s ease-out;
}
