@import "mixins";

.light-mode {
  --color-body: #1c1c1c;
  --color-text: #2d3748;
  --color-background: #fff;
  --color-header: #1a202c;
  --color-button: #e2e8f0;
  --color-button-secondary: #edf2f7;
  --color-input: var(--color-background);
  --color-input-border: var(--color-button);
  --color-input-border-hover: #cbd5e0;
  --color-muted: #666;
  transition: color 0.2s ease-out, background 0.2s ease-out
}
.dark-mode {
  --color-body: #fff;
  --color-text: #a0aec0;
  --color-header: #fff;
  --color-background: #171923;
  --color-button: rgb(255, 255, 255, 0.16);
  --color-button-secondary: rgba(255, 255, 255, 0.08);
  --color-input-border: rgba(255, 255, 255, 0.04);
  --color-input-border-hover: var(--color-button-secondary);
  --color-input: var(--color-button-secondary);
  --color-muted: #888;

  transition: color 0.2s ease-out, background 0.2s ease-out
}

:root {
  /*================ color ================*/
  --color-black: #1c1c1c;
  --color-secondary: #595959;
  --color-black-rgb: 28, 28, 28;
  --color-grey: #f0e8e7;
  --color-white: #fff;
  --color-red: #ff5a5f;
  --color-green: #41af4b;
  --color-blue: #2ec4b6;
  --color-yellow: #fb0;

  /*================ typography ================*/
  --font: Inter, -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, sans-serif;

  --h1: 6.4rem;
  --h2: 3.6rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 2rem;
  --h6: 1.6rem;
  --p: 1.6rem;
  --small: 1.4rem;
  @include responsive-min(600px) {
    --h2: 4.8rem;
    --h3: 3.6rem;
    --h4: 2.4rem;
  }

  /*================ Borders/Shadows ================*/
  --border-radius: 0.4rem;
  /*================ spacing ================*/
  --max-width: 96rem;
  --max-width-content: 76.4rem;
  --gap-tiny: 0.4rem;
  --gap-small: 0.8rem;
  --gap: 1.6rem;
  --gap-double: 3.2rem;

  --header-height: 10.4rem;

  /*================ Z-Index ================*/

  --z-header: 1000;

  /*================ Transition / effects ================*/
  --fast-transition: 0.1s ease-out;
  --med-transition: 0.2s ease-out;
}
